ow* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes sliding {
  from {
    transform: translateY(-90%);
  }
  to {
    transform: translateY(90%);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes cant-hit {
  0% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}
.in-game {
  cursor: none;
}
.gameplane {
  min-height: 100vh;
  min-height: 100svh;
  background-size: auto 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*.gameplane {
  min-height: 100vh;
  min-height: 100svh;
  background-size: auto 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
}*/

.gameplane .space {
  --animation-speed: 5s;
  background-image: url("./images/background-pattern.jpg");
  background-size: auto 100%;
  inset: 0;
}
.gameplane .space.bg1 {
  animation: sliding var(--animation-speed) linear infinite;
}
.gameplane .space.bg2 {
  animation: sliding var(--animation-speed) linear infinite;
  animation-delay: 2.5s;
}
.gameplane > div, .gameplane > img {
  position: absolute;
}
.gameplane > div img, .gameplane > img img {
  max-width: 100%;
  max-height: 100%;
}
.gameplane .pierog {
  --pierog-width: 30%;
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 5;
}

/* .gameplane .pierog {
  --pierog-width: 30%;
  width: var(--pierog-width);
  top: 50%;
  left: calc(50% - var(--pierog-width) / 2);
}*/

.gameplane .pierog.cant-hit {
  animation: cant-hit 2s infinite;
}
.gameplane .pierog .face {
  position: absolute;
  inset: 0;
  background-image: url("./images/pierog_face.webp");
  background-size: cover;
}
.gameplane .pierog .face::before, .gameplane .pierog .face::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./images/pierog_face_sad.webp");
  background-size: cover;
  opacity: 0;
}
.gameplane .pierog .face::after {
  background-image: url("./images/pierog_face_happy.webp");
}
.gameplane .pierog .face.sad {
  background-image: unset;
}
.gameplane .pierog .face.sad::before {
  opacity: 1;
}
.gameplane .pierog .face.happy {
  background-image: unset;
}
.gameplane .pierog .face.happy::after {
  opacity: 1;
}
.gameplane .meteor, .gameplane .mushroom {
  --meteor-width:15%;
  width: var(--meteor-width);
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotate 1s linear infinite;
}
.gameplane .lives {
  bottom: 0;
  width: 25%;
  display: flex;
}
.gameplane .lives .live {
  width: 30%;
  aspect-ratio: 1/1;
  background: url("./images/live.webp");
  background-size: contain;
  margin-left: 10px;
}
.gameplane .modal-wrapper {
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.gameplane .modal-wrapper .modal {
  border-radius: 8px;
  background: #de2c54;
  padding: 40px 60px;
  max-width: 50%;
}
.gameplane .modal-wrapper .modal .modal-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gameplane .modal-wrapper .modal .modal-inner h1 {
  margin: 0;
}
.gameplane .modal-wrapper .modal .modal-inner button {
  width: 100%;
  padding: 20px;
  font-weight: 900;
  font-size: 1rem;
  color:#de2c54;
  cursor: pointer;
  border-radius: 99px;
  border: none;
}
.gameplane .score-wrapper {
  bottom: 0;
  right: 0;
  width: 25%;
  aspect-ratio: 3/1;
  display: flex;
  gap: 10px;
}
.gameplane .score-wrapper .score-icon {
  width: 30%;
  margin: 10px;
  aspect-ratio: 1/1;
  background: url("./images/mushroom.webp");
  background-size: fill;
}
.gameplane .score-wrapper .score {
  flex: 1;
  display: flex;
  justify-content: flex-end;  /* <== ustawia zawartość po prawej */
  align-items: center;  
  margin-right: 10px;      /* <== wyśrodkowuje pionowo */
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #de2c54;
}

@media (max-width: 768px) {
  .gameplane .modal-wrapper .modal {
    max-width: 90%;
  }
}/*# sourceMappingURL=style.css.map */

